<div class="card">
  <div class="card-header centro">
    Tarefas
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Task</span>
      <input type="text" class="form-control" placeholder="Adicione uma tarefa" aria-label="Username"
        aria-describedby="addon-wrapping">
      <a href="#" id="btsrc" class="btn btn-primary position" style=" position: relative;
      float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
        </svg>
      </a>
    </div>

  </div>
</div>